body {
    background-image: url('../pictures/backgroundpicture.jpg');
    height: 2000px;
    width:1080px;
}
.reservation-class {
    height: 350px;
    width: 200px;
    border: solid 5px;
    border-color: red;
}
.form-control {
    display: flex;
    height: auto;
    width: auto;
}




.form-container * {
    display: none;
}

.form-container {
    position: absolute;
    background-color: white;
    top: 55%;
    left: 10%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    width: 400px;
    height: 500px;
    border: solid 2px black;
}
.form-container *{
    margin-left: 10px;
}

.form-group *{
    display:block;
}
.form-group select {
    margin-bottom: 10px;
}



