body {
    background-image: url(../Pictures/BackgroundPicture.jpg);
    height: auto;
}
h1 {
    position: absolute;
    right: 15%;
    top: 25%;
    font-size: 76px;
    font-family:'Times New Roman', Times, serif;
}

.reservation-class {
    position: relative;
    height: 350px;
    width: 200px;
    border: solid 5px;
    border-color: red;
}

.form-control {
    display: flex;
    height: auto;
    width: auto;
}

.form-container {
    position: absolute;
    background: white;
    top: 200px;
    left: 10%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 400px;
    height: 550px;
    border: solid 2px black;
    border-radius: 4%;
}

.form-container * {
    margin-left: 10px;
    margin-right: 10px;
}
.form-container h1{
    text-align: center;
    margin-bottom: 15px;
}

.form-group * {
    display: block;
    margin-left: 0px;
}

.form-group select {
    width: 100%;
    margin-bottom: 10px !important;
}

.city-row{
    margin-top: 20px;
}
.button {
    position: absolute;
    right: 20px;
    margin-top: -5px;
}


.name-row {
    margin-top: 70px;
}