body {
    background: url(../Pictures/BackgroundPicture.jpg) no-repeat;
    background-size: cover;
}
h1 {
    position: absolute;
    right: 11%;
    top: 25%;
    font-size: 48px;
    font-family:'Times New Roman', Times, serif;
}

.reservation-class {
    position: relative;
    height: 350px;
    width: 200px;
    border: solid 5px;
    border-color: red;
}

.form-control {
    display: flex;
    height: auto;
    width: auto;
}

.form-container {
    position: absolute;
    background-color: aliceblue;
    opacity: 0.85; 
    top: 360px;
    left: 6%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 400px;
    height: 550px;
    border: solid 2px black;
    border-radius: 4%;
}

.form-container * {
    margin-left: 10px;
    margin-right: 10px;
}
.form-container h1{
    text-align: center;
    margin-bottom: 15px;
}

.form-group * {
    display: block;
    margin-left: 0px;
    color: black;
}

.form-group select {
    width: 100%;
    margin-bottom: 10px !important;
}

.city-row{
    margin-top: 20px;
}
.button {
    position: absolute;
    right: 20px;
    margin-top: -5px;
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 7px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.Availalbecars-row{
    margin-top: 40px;
}

.name-row {
    margin-top: 30px;
}

.log-container {
    position: absolute;
    bottom: 5%;
    right: 10%;
}
.log-container h2{
    color: white;
}
.log {
    height: 150px;
    width: 325px;
    background: white;
    background-color: aliceblue;
    opacity: 0.85;
    border: solid 2px black;
    border-radius: 4%;
}
