@{
    ViewBag.Title = "About";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Description</title>
</head>
<body>
    <h1>Large Systems Development Assignment</h1>
    <h2>The Faraday Car Rental Company</h2>

    <p> Group Members</p>
    <ul>
        <li>Christoffer Dunk Ring</li>
        <li>Nikolai Christiansen</li>
        <li>Jonas Manley</li>
        <li>Mikkel Ertbjerg</li>
        <li>Nikolaj Jensen</li>
        <li>Hassan Raza Hussaln</li>
    </ul>

    <h2>1. Pick Up</h2>
    <p>
      Rental cars from Faraday can be picked up from airports or hotels.Airports are identified by their three letter IATA airport code. 
        Hotels are identified by a 6 digit number. Hotels have names, addresses, andstar ratings as well.Rental cars are identified by their 
        license plate, ten alphanumeric characterscovers the license plates in the countries where Faraday operates. Furthermorerental cars has a 
        type from ’A’ to ’F’ that specifies the price and number ofseats.The driver is identified by his or her drivers license number and name as inthe 
        passport. The driver must be at least 25 years of age.
    </p>

    <h2>2. Bookings</h2>
    <p>
        When a rental car is booked, pick up station (airport or hotel) should be statedas well as the time of pickup 
        (time and date) and time of delivery. If the deliveryplace is different from the pickup place an extra fee is calculated.
        Rental cars can be moved from pickup station to pickup station within thesame city.
    </p>

    <h2>3. The following tasks should be handled by the service and desktop application:</h2>
    <p>
    Show a list of available rental cars inclusive car type in a city in a giventime period.
    Make a booking for up to 3 weeks of a specific car, either with the samepickup and delivery place or with two different places. 
    An error messageshould be returned if the car is no longer available.
    See a booking, given the drivers license number from the booking.
    Cancel a booking, given the drivers license number from the booking.
    </p>
    
</body>
</html>

