@using FaradayGrpcServer
@{
    ViewBag.Title = "Cancel Booking";

    var bookingListDTO = (List<BookingModel>)ViewData["booking"];  //Getting the data through the controller.


}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/cancelbookingpage.css" rel="stylesheet" />
</head>
<body>

    <div id="myDIV" class="showBookingHeader">
        <h2 style="margin:5px">Show Bookings</h2>
        <input type="text" id="myInput" placeholder="Search for booking">
        <span onclick="newElement()" class="searchBtn">Search</span>
    </div>
    <form action="CancelSelectedBooking">
        <ul id="showBookingUL" class="myUL">
            @foreach (var booking in bookingListDTO)
            {
                <li>@booking.Car.Price  @booking.Customer.FirstName</li>
            }
        </ul>
    </form>


    <script type="text/javascript" src="~/js/cancelbooking.js"></script>

</body>
</html>

