@{
    ViewBag.Title = "Create Booking";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Description</title>
</head>
<body>
    <h1>Create Booking</h1>
    <p>..........Soon to come..........</p>
</body>
</html>

