@using FaradayFE.Content;
@using FaradayFE;
@using FaradayFE.Protofil;
@{
    ViewBag.Title = "Create Booking";

    var carList = new DummyBackend().Carlist;
    var placelist = new DummyBackend().Placelist;

    Service service = new Service();
    var client = service.Client;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Description</title>
    <link href="~/css/createbookingpage.css" rel="stylesheet" />
</head>
<body>
    <h1>Book your dream NOW!</h1>
    <div class="form-container">
        <form>
            <div class="city-row">
                <div class="form-group">
                    <span class="form-label">Select you pickup place</span>
                    <select>
                        @foreach (var place in placelist)
                        {
                            <option>@place</option>
                            ;
                        } CreateBooking();
                    </select>
                </div>
            </div>
            <div class="pickuptime-row">
                <div class="form-group">
                    <span class="form-label">Select pickup time</span>
                    <input type="datetime-local" name="name" value="" />
                </div>
            </div>
            <div class="delivery-row">
                <div class="form-group">
                    <span class="form-label">Select delivery time</span>
                    <input type="datetime-local" name="name" value="" />
                </div>
            </div>
            <div class="button-row">
                <div class="form-group">
                    <button class="button">Show available cars</button>
                </div>
            </div>
            <div class="name-row">
                <div class="form-group">
                    <span class="full-name">Full name</span>
                    <input type="text" name="Name" value="" />
                </div>
            </div>
            <div class="phone-row">
                <div class="form-group">
                    <span class="phone-number">Phone number</span>
                    <input type="text" name="phone" value="" />
                </div>
            </div>
            <div class="email-row">
                <div class="form-group">
                    <span class="email">Email</span>
                    <input type="email" name="email" value="" />
                </div>
            </div>
            <div class="button-row">
                <div class="form-group">
                    <button class="button">Book car</button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>

<script>
    function myFunction() {
        document.getElementById("form-container").style.position = block;
    }
</script>