@using FaradayFE.Content;
@using FaradayFE;
@using FaradayFE.protobufferrepo
@{
    ViewBag.Title = "Create Booking";

    var carList = new DummyBackend().Carlist;
    var placelist = new DummyBackend().Placelist;

    var completeBookings = new List<string>();

    var bookingClient = new Service().Client;

    //Service service = new Service();
    //var client = service.Client;completeBookings
    string name;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Description</title>
    <link href="~/css/createbookingpage.css" rel="stylesheet" />
</head>
<body>
    <div class="log-container">
        <h2>Confirmed booksings:</h2>
        <div class="log">
            <ul>
               
                    <li id="nametest"></li>
               
            </ul>
        </div>
    </div>
    <div class="form-container">
        <form>
            <div class="city-row">
                <div class="form-group">
                    <span class="form-label">Select you pickup place</span>
                    <select>

                        @*@using (var requestAllCustomers = bookingClient.ShowAvailableCarsGRPC())
                        {

                            while (await requestAllCustomers.ResponseStream.MoveNext())
                            {
                                customer = requestAllCustomers.ResponseStream.Current;
                                Console.Write($"ID: {customer.Id}, FN: {customer.FirstName}, LN: {customer.LastName}, SEX: {customer.Gender}, DL: {customer.DriversLicense}");
                            }
                        }*@


                        @*@foreach (var place in service.Client.ShowAvailableCarsGRPC())
                        {
                            <option>@place</option>
                            ;
                        } CreateBooking();*@
                    </select>
                </div>
            </div>
            <div class="pickuptime-row">
                <div class="form-group">
                    <span class="form-label">Select pickup time</span>
                    <input type="datetime-local" name="name" value="" />
                </div>
            </div>
            <div class="delivery-row">
                <div class="form-group">
                    <span class="form-label">Select delivery time</span>
                    <input type="datetime-local" name="name" value="" />
                </div>
            </div>
            <div class="button-row">
                <div class="form-group">
                    <button class="button">Show available cars</button>
                </div>
            </div>
            <div class="Availalbecars-row">
                <div class="form-group">
                    <span class="form-label">Select a Car</span>
                    <select>
                        @foreach (var place in placelist)
                        {
                            <option>@place</option>
                            ;
                        } CreateBooking();
                    </select>
                </div>
            </div>
            <div class="name-row">
                <div class="form-group">
                    <input type="text" name="Name" id="Name" value="" placeholder="Full name" />
                   
                </div>
            </div>
            <div class="phone-row">
                <div class="form-group">
                    <input type="text" name="phone" id="phone" value="" placeholder="Phone number" />
                </div>
            </div>
            <div class="email-row">
                <div class="form-group">
                    <input type="email" name="email" value="" placeholder="Email" />
                </div>
            </div>
            <div class="button-row">
                <div class="form-group">
                    <button onclick="myFunction()" class="button">Book car</button>
                   
                </div>
            </div>
        </form>
    </div>

</body>
</html>

<script>
    function myFunction() {
        name = document.getElementById("Name").Value;
        document.getElementById("nametest").innerText = name;
    }
</script>