@using FaradayFE.Content
@using FaradayFE.protobufferrepo
@using FaradayGrpcServer
@using FaradayFE.Controllers
@{
    ViewBag.Title = "Create Booking"; // title of the site.

    var locationListDTO = (List<string>)ViewData["location"];  //Getting the data through the controller.


    //    void selectedMethod()
    //    {
    //        HomeController homeController = new HomeController();
    //        homeController.setSelectedCar(strUser.to)

    //}


    var carListDTO = new List<CarModel>();  //Getting the data through the controller.

    string dateInput = "";
    string selectedCar = "";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Description</title>
    <link href="~/css/createbookingpage.css" rel="stylesheet" />
</head>
<body asp-area="" asp-controller="Home" asp-action="CreateBooking2">
    <div class="log-container">

        <h2>Confirmed booksings:</h2>
        <div class="log">
            <ul>
                <li id="nametest"></li>
            </ul>
        </div>
    </div>
    <div class="form-container">
        @*@using (Html.BeginForm("SelectedCar", "Home", new { clubid = @Viewbag. }, FormMethod.Post, null)))
        {*@
        <form action="getCustomerDetails" method="post">
            <div class="city-row">
                <div class="form-group">
                    <span class="form-label">Select you pickup place</span>
                    <select>
                        @foreach (var location in locationListDTO)
                            {
                                <option>@location</option>
;
                            }
                    </select>
                </div>
            </div>
            <div class="delivery-row">
                <div class="form-group">
                    <span class="form-label">Select delivery time</span>
                    <input type="datetime-local" name="selectedDate" id="selectedDate" value="" />
                </div>
            </div>
            @*<div class="button-row">
                <div class="form-group">
                    <button  class="button">REGISTER</button>
                </div>
            </div>*@

            <div class="Availalbecars-row">
                <div class="form-group">
                    <span class="form-label">Select a Car</span>
                    <select id="carList" name="carList">
                        @foreach (var place in await HomeController.GetCarModels())
                        {
                            <option value="@place.Brand">@place.Brand</option>
;
                        }
                    </select>
                </div>
            </div>
            <div class="name-row">
                <div class="form-group">
                    <input type="text" name="name" id="name" value="" placeholder="Full name" />
                </div>
            </div>
            <div class="phone-row">
                <div class="form-group">
                    <input type="text" name="phone" id="phone" value="" placeholder="Phone number" />
                </div>
            </div>
            <div class="email-row">
                <div class="form-group">
                    <input type="email" name="email" id="email" value="" placeholder="Email" />
                </div>
            </div>
            <div class="button-row">
                <div class="form-group">
                    <button onclick="selectedItem()" type="submit" class="button">Book car</button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>

<script>
    function myFunction() {
        name = document.getElementById("Name").Value;
        document.getElementById("nametest").innerText = name;
    }

    function selectedItem() {
        var selectedCarList = document.getElementById("carList");
        var strUser = selectedCarList.options[selectedCarList.selectedIndex].value;
        document.getElementById("nametest").innerText = strUser;
    }
</script>