@{
    ViewBag.Title = "Home Page";
}
   
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="~/Scripts/restMethods.js"></script>
</head>
<body>
    <div>
        <h1>Welcome page to Faraday</h1>
        <p>.........Soon to come.........</p>
        <button id="testValues" onclick="GetTest()">Test connection to rest</button>
    </div>
</body>
</html>


